


$color: black;
$stroke-width: 3px;
$size: 102px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 15vh;

  .icon {
    width: 50%;
    max-width: 300px;
    height: 400px;

    path {
      color: $color;
      stroke-width: $stroke-width;
      stroke-dashoffset: -3000;
      stroke-dasharray: 3000;

      &.is-active {
        animation-name: icon;
        animation-duration: 6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        // animation: icon alternate infinite 2s;

      }
    }
  }

  .text {
    width: 75%;
    max-width: 900px;

    text {
      color: $color;
      stroke-width: $stroke-width;
      stroke-dashoffset: -800;
      stroke-dasharray: 800;

      &.is-active {
        animation-name: text;
        animation-duration: 6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        // animation: text alternate infinite 2s;
      }
    }
  }
}

@keyframes icon {
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  75% {
    fill: transparent;
    stroke-width: $stroke-width;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $color;
    stroke-width: 0px;
  }
}

@keyframes text {
  50% {
    fill: transparent;
  }
  75% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: $stroke-width;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $color;
    stroke-width: 0px;
  }
}



// BACKGROUND ANIMATION BELOW
.home-background {
  background: linear-gradient(-45deg, white, rgba(255,0,0,0.4), rgba(255,255,0,0.4), white);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



@media (min-height: 100px) and (max-height: 415px) {
  .logo {
    margin-top: 0vh;
  }
}


.home-button {
  margin-top: 100px;
}


.home-adjust {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

