<div>
    <!-- Navigation -->
    <div class="b-wrapper">
      <div class="b-nav">
        <li><%= link_to "Home", root_path, class: "b-link"%></li>
        <li><%= link_to "Übersicht", artworks_path, class: "b-link"%></li>
        <li><a class="b-link" href="">Über Uarte</a></li>
        <li><a class="b-link" href="">Zufallsauswahl</a></li>
      </div>
    </div>
    <!-- Burger-Icon -->
    <div class="b-container">
      <div class="b-menu">
    <!--     <div class="b-bun b-bun--top"></div>
        <div class="b-bun b-bun--mid"></div> -->
        <%= image_tag "https://res.cloudinary.com/dvoduvlcz/image/upload/v1607414139/Uarte/uarte_signum_qs_rr30q2.png" %>
        <!-- <div class="b-bun b-bun--bottom"></div> -->
      </div>

      <!-- Burger-Brand -->
      <a href="#" class="b-brand"></a>
    </div>
</div>

<script>
  'use strict';

(function() {
  var body = document.body;
  var burgerMenu = document.getElementsByClassName('b-menu')[0];
  var burgerContain = document.getElementsByClassName('b-container')[0];
  var burgerNav = document.getElementsByClassName('b-nav')[0];

  burgerMenu.addEventListener('click', function toggleClasses() {
    [body, burgerContain, burgerNav].forEach(function (el) {
      el.classList.toggle('open');
    });
  }, false);
})();
</script>
