  <div id="main">
    <!-- Header Section -->
    <header class="parallax header bg">
      <div class="text-box">
        <h1 id="title">Uarte</h1>
      </div>
    </header>

    <!-- Middle Section -->
    <div class="middle-section">
      <div class="quote-container">
        <div class="quote-resize">
          <i class="fas fa-quote-left"></i>&nbsp;The imagination is the vehicle of sensibility. Transported by the imagination, we attain life, life itself, which is absolute art.&nbsp;
          <i class="fas fa-quote-right"></i>
        </div>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="bottom-section">
      <div id="quote-bottom" class="quote-container">
        <div id="qb-resize" class="quote-resize">
          <i class="fas fa-quote-left"></i> &nbsp;I have written my name on the far side of the sky.&nbsp;
          <i class="fas fa-quote-right"></i>
        </div>
      </div>
      <div class="learn-container">
        <div class="learn-text"><span class="learn-primary">Uarte alias Uli Bugiel
1946 - 2020
Ingenieur mit kreativem Geist
Er fertigte Wandobjekte und Rahmen aus Holz, er baute Möbel, veränderte Alltagsgegenstände in Kunstobjekte.
Die Arbeiten waren allesamt sehr aufwändig, dabei ging er vollkommen auf.
Bevorzugte Themen waren Stühle und Hochhäuser.
Ausstellungen in Frankfurt, Salzburg, Amorbach und Friedrichsdorf.
Im Nachlass von Uarte finden sich auch zahlreiche schriftliche Arbeiten, diese spiegeln seinen Humor, Witz und seine skurrile kreative Denkweise.</span>
          </div>
        </div>
      </div>

