  <div id="main">
    <!-- Header Section -->
    <header class="parallax header bg">
      <div class="text-box">
        <h1 id="title">Uarte</h1>
      </div>
    </header>

    <!-- Middle Section -->
    <div class="middle-section">
      <div class="quote-container">
        <div class="quote-resize">
          <i class="fas fa-quote-left"></i> &nbsp;The imagination is the vehicle of sensibility. Transported by the imagination, we attain life, life itself, which is absolute art.&nbsp;
          <i class="fas fa-quote-right"></i>
        </div>
      </div>
      <div class="timeline-container">
        <h2 class="timeline-heading">Timeline
          <hr>
        </h2>
        <div class="grid-center">
          <div class="grid-contain">
            <div class="grid content1">
              <h2 class="year">1928</h2>
            </div>
            <div class="grid content2">
              <h2 class="year">1949</h2>
            </div>
            <div class="grid content3">
              <h2 class="year">1953</h2>
            </div>
            <div class="grid content4">
              <h2 class="year">1957</h2>
            </div>
            <div class="grid content5">
              <h2 class="year">1957</h2>
            </div>
            <div class="grid content6">
              <h2 class="year">1958</h2>
            </div>
            <div class="grid content7">
              <h2 class="year">1960</h2>
            </div>
            <div class="grid content8">
              <h2 class="year">1960</h2>
            </div>
            <div class="grid content9">
              <h2 class="year">1961</h2>
            </div>
            <div class="grid content10">
              <h2 class="year">1962</h2>
            </div>
            <div class="grid content11">
              <h2 class="year">1962</h2>
            </div>
            <div class="grid content12">
              <h2 class="year">1962</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="bottom-section">
      <div id="quote-bottom" class="quote-container">
        <div id="qb-resize" class="quote-resize">
          <i class="fas fa-quote-left"></i> &nbsp;I have written my name on the far side of the sky.&nbsp;
          <i class="fas fa-quote-right"></i>
        </div>
      </div>
      <div class="learn-container">
        <div class="learn-text"><span class="learn-primary">Learn more about Yves Klein:</span>
          <span><a href="http://www.yvesklein.com/en" target="_blank" id="tribute-link">www.yvesklein.com</a></span>
          <div id="img-div">
            <img id="image" src="https://raw.githubusercontent.com/kvizconde/Yves-Klein-Tribute/master/img/pigment.png" alt="blue-pigment">
            <figcaption id="img-caption">IKB - Pigment</figcaption>
          </div>
        </div>
      </div>

