.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}


// button for home
.btn-ghost-home {
  color: black;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 2s ease;
  width: 350px;
}

.btn-ghost-home:hover {
  opacity: 0.8;
  color: white;
  background-color: black;
  // background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  // color: transparent;
}

// // new button for home
// .gradient-button {
//     margin: 10px;
//     // font-family: "Arial Black", Gadget, sans-serif;
//     font-size: 20px;
//     padding: 11px;
//     text-align: center;
//     text-transform: uppercase;
//     transition: 0.5s;
//     background-size: 200% auto;
//     color: #FFF;
//     box-shadow: 0 0 20px #eee;
//     border-radius: 10px;
//     width: 200px;
//     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//     cursor: pointer;
//     display: inline-block;
//     border-radius: 25px;
//     text-decoration: none;
// }
// .gradient-button:hover{
//     // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//     margin: 8px 10px 12px;
//     text-decoration: none;
// }
// .gradient-button-1 {
//   background: linear-gradient(to bottom, $pgt 0%, $pgb 100%)
// }
// // .gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
// .gradient-button-1:hover {
//   background-position: right center;
//   text-decoration: none;
// }



// effect try outs

// body
//   min-height 100vh
//   display flex
//   align-items center
//   justify-content center

